<script setup>
import Drawflow from 'drawflow';
import {getCurrentInstance, h, onMounted, ref, render, shallowRef} from "vue";
import light from './nodes/light.vue';

const listNodes = ref([
  {
    name: 'Light',
    color: 'blue',
    item: 'light',
    input: 0,
    output: 0
  },
]);
const drawer = ref(false);
const editor = shallowRef({})
const dialogVisible = ref(false)
const dialogData = ref({})
const Vue = { version: 3, h, render };
const internalInstance = getCurrentInstance()
internalInstance.appContext.app._context.config.globalProperties.$df = editor;

let mobile_item_selec = '';
let mobile_last_move = null;
function drag(ev) {
  if (ev.type === "touchstart") {
    mobile_item_selec = ev.target.closest(".drag-drawflow").getAttribute('data-node');
  } else {
    ev.dataTransfer.setData("node", ev.target.getAttribute('data-node'));
  }
}

function drop (ev) {
  if (ev.type === "touchend") {
    const parentdrawflow = document.elementFromPoint( mobile_last_move.touches[0].clientX, mobile_last_move.touches[0].clientY).closest("#drawflow");
    if(parentdrawflow != null) {
      addNodeToDrawFlow(mobile_item_selec, mobile_last_move.touches[0].clientX, mobile_last_move.touches[0].clientY);
    }
    mobile_item_selec = '';
  } else {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("node");
    addNodeToDrawFlow(data, ev.clientX, ev.clientY);
  }
}

const allowDrop = (ev) => {
  ev.preventDefault();
}

function positionMobile(ev) {
  mobile_last_move = ev;
}
function exportEditor() {
  dialogData.value = editor.value.export();
  dialogVisible.value = true;
}


function addNodeToDrawFlow(name, pos_x, pos_y) {
  console.log(name, pos_x, pos_y);
  pos_x = pos_x * ( editor.value.precanvas.clientWidth / (editor.value.precanvas.clientWidth * editor.value.zoom)) - (editor.value.precanvas.getBoundingClientRect().x * ( editor.value.precanvas.clientWidth / (editor.value.precanvas.clientWidth * editor.value.zoom)));
  pos_y = pos_y * ( editor.value.precanvas.clientHeight / (editor.value.precanvas.clientHeight * editor.value.zoom)) - (editor.value.precanvas.getBoundingClientRect().y * ( editor.value.precanvas.clientHeight / (editor.value.precanvas.clientHeight * editor.value.zoom)));

  const nodeSelected = listNodes.value.find(ele => ele.item == name);
  editor.value.addNode(name, nodeSelected.input,  nodeSelected.output, pos_x, pos_y, name, {
    name: '',
  }, name, 'vue');
}

function add() {
  addNodeToDrawFlow('light', 300, 300);
}

onMounted(() => {

  var elements = document.getElementsByClassName('drag-drawflow');
  for (var i = 0; i < elements.length; i++) {
    elements[i].addEventListener('touchend', drop, false);
    elements[i].addEventListener('touchmove', positionMobile, false);
    elements[i].addEventListener('touchstart', drag, false );
  }

  const id = document.getElementById("drawflow");
  editor.value = new Drawflow(id, Vue, internalInstance.appContext.app._context);
  editor.value.start();

  editor.value.registerNode('light', light, {
    name: '',
  }, {});
});
</script>

<template>
  <el-header class="header">
    <div>
      <el-button type="primary">Файл</el-button>
      <el-button type="primary"   @click="exportEditor">Экспорт</el-button>
    </div>
  </el-header>
  <el-container class="container">
    <el-aside width="250px" class="column">
      <ul>
        <li>
          <div>
            <el-collapse>
              <el-collapse-item title="Inputs" name="1">
                <div>
                  <el-button @click="add">Добавить</el-button>
                </div>
              </el-collapse-item>
            </el-collapse>
          </div>
        </li>
      </ul>
    </el-aside>
    <el-main>
      <div class="drawflow-container" id="drawflow-container">
        <div id="drawflow" @drop="drop($event)" @dragover="allowDrop($event)"></div>
      </div>
    </el-main>
  </el-container>

  <el-dialog
      v-model="dialogVisible"
      title="Export"
      width="50%"
  >
    <span>Data:</span>
    <pre><code>{{dialogData}}</code></pre>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="dialogVisible = false"
        >Confirm</el-button
        >
      </span>
    </template>
  </el-dialog>
</template>

<style scoped>
.drawflow-container {
  position: relative;
}
</style>