<script setup>
import { vOnClickOutside } from '@vueuse/components'
import {onMounted, reactive, ref, watch} from "vue";

const drawer = ref(false);
const data = reactive({
  name: 'figure',
  shape_width: '100',
  shape_height: '100',
  background: '#fff'
});
const styleObject = ref({});
function handle() {
  drawer.value = !drawer.value;
}

function setStyles(params) {
  styleObject.value = {
    background: params.background,
    width: params.shape_width + 'px',
    height: params.shape_height + 'px'
  }
}

onMounted(() => {
  setStyles(data);
})

watch(data, () => {
  setStyles(data);
})

</script>

<template>
  <div>
    <div :style="styleObject" @click="handle" @focusout="drawer = false">
      <input type="hidden" name="name" v-model="data.name" df-name>
    </div>

    <teleport to="#drawflow-container">
      <div class="parameters" v-if="drawer">
        <el-row :gutter="20">
          <el-col :span="6">
            <el-input
                v-model="data.name"
            >
              <template #prepend>name</template>
            </el-input>
          </el-col>
          <el-col :span="6">
            <div style="display: flex;">
              <el-input
                  v-model="data.background"
              >
                <template #prepend>color</template>
              </el-input>
              <el-color-picker v-model="data.background"/>
            </div>
          </el-col>
          <el-col :span="6">
            <el-input
                v-model="data.shape_height"
            >
              <template #prepend>shape_height</template>
            </el-input>
          </el-col>
          <el-col :span="6">
            <el-input
                v-model="data.shape_width"
            >
              <template #prepend>shape_width</template>
            </el-input>
          </el-col>
        </el-row>
      </div>
    </teleport>
  </div>
</template>

<style scoped>
.parameters {
  width: 100%;
  background: blue;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

.el-row {
  margin-bottom: 20px;
}
.el-row:last-child {
  margin-bottom: 0;
}
.el-col {
  border-radius: 4px;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
</style>