:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: transparent;
}
body {
  max-width: calc(100vw - 40px);
  max-height:  calc(100vh - 40px);
  margin: 20px;
  padding: 0;
}

#app {
  margin: 0;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.drawflow .connection .main-path {
  stroke-width: 3px;
  stroke: #c5c343;
}

.drawflow .connection .main-path:hover {
  stroke: rgb(250, 0, 175);
}

.parent-node .drawflow-delete {
  display: none !important;
}

.drawflow .drawflow-node.selected .drawflow_content_node .header {
  background:rgb(250, 0, 175);
}


.drawflow .drawflow-node .drawflow_content_node input, .drawflow .drawflow-node .drawflow_content_node .el-select, .drawflow .drawflow-node .drawflow_content_node button {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.container {
  min-height: calc(100vh - 100px);
}
.column {

}
.column ul {
  padding-inline-start: 0px;
  padding: 10px 10px;
}
.column li {
  background: transparent;
}

.node {
  border-radius: 8px;
  display: block;
  padding: .5rem;
  cursor: move;
  color:white;
}

#drawflow-container {
  height: 100%;
  width: 100%;
}

#drawflow {
  width: 100%;
  height: 100%;
  text-align: initial;
  background: #2b2c30;
  background-size: 20px 20px;
  background-image: radial-gradient(#494949 1px, transparent 1px);
}

div.drawflow .drawflow-node {
  background: transparent;
  border: none;
  min-height: 0;
}
.drawflow .drawflow-node div.drawflow_content_node {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawflow div.drawflow-node.selected {
  background: transparent;
}